@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

html, body {
  margin: 0;
  height: 100vh;
  background: #000 url(./assets/Floor1.jpg) center/cover no-repeat;
  animation: pan 60s infinite alternate linear;
  font-family: 'Poiret One', sans-serif;
  color: #d7a103;
}

@keyframes pan {
  0% { background-position: left; }
  100% { background-position: right; }
}

/* ------------------ Interface ------------------ */
#UI, #transitionScreen {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

#UI { z-index: 100; }

#transitionScreen {
  z-index: -10;
  background: #000;
  opacity: 0;
  transition: opacity 2s ease-out;
}

/* ------------------ Carte principale ------------------ */
.menu-card {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 600px; height: 500px;
  display: flex;
  flex-direction: column;
  /* padding: 8% 0 0 0;
  gap: 8%;
  background: no-repeat center url(./assets/card.svg); */
}

.card-svg {
  position: absolute;
  inset: 0;
  width: 100%; height: 100%;
  object-fit: contain;
  z-index: 1;
  pointer-events: none;
}

h1{
  position: relative;
  top: 5%;
  z-index : 2;
  text-align: center;
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  font-family: 'Poiret One', sans-serif;
  color: #fff;
}

h1::before {
  content: '';
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 220%;
  background: no-repeat center url(./assets/card1.2.svg);
  z-index: -1;
  pointer-events: none;
}

/* ------------------ Boutons ------------------ */
nav {
  position: relative;
  z-index: -2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: no-repeat center url(./assets/card1.1.svg);
  background-size: contain;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li button {
  cursor: pointer;
  width: 30vw;
  min-width: 300px;
  max-width: 450px;
  padding: .5rem;
  border: 2px double #d7a103;
  font-size: 26px;
  font-family: 'Poiret One', sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(180deg, #a0601d 0%, #7a3f00 100%);
}

nav ul li button:hover {
  background: linear-gradient(180deg, #b8742a 0%, #8e4d00 100%);
}
