:root {
    --obj-opacity: 0;
    /* Debug */
    /* --obj-opacity: 1; */

}

HTML {
    background: #000;
}

body {
    background-image: url(./assets/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
    animation: pan 60s infinite alternate linear;
}

@keyframes pan {
  0% {background-position: left;}
  100% {background-position: right;}
}

#UI {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
}
#transitionScreen{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: black;
    opacity: 1;
    transition: opacity 2s ease-out;
}
nav {
    width: 100%;
    height: 100%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
nav ul li {
    display: inline;
    margin-right: 10px;
    margin: 0;
}
nav ul li button {
    cursor: pointer;
    border: 0;
    padding: 1rem 2rem;
    width: 20rem;
    background-color: #dddddd66;
    font-size: larger;
    font-weight: bold;
}
nav ul li button:hover {
    background-color: #dededecc;
}