:root {
    --obj-opacity: 0;
/* Debug */
--obj-opacity: 1;
}
HTML {
background: #000;
}
body {
background-image: url(../assets/background.jpeg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
margin: 0;
height: 100vh;
transition: background-position .3s ease-in-out;
}
#UI {
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
z-index: 100;
}
#transitionScreen{
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
z-index: 200;
background-color: black;
opacity: 1;
transition: opacity 2s ease-out;
}
nav {
width: 100%;
height: 100%;
}
nav ul {
list-style-type: none;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}
nav ul li {
display: inline;
margin: 0;
height: 100%;
}
nav ul li button {
cursor: pointer;
border: 0;
padding: 0;
margin: 0;
background: none;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}
nav ul li button img {
height: 200px;
width: auto;
}
.object {
background-size: contain;
background-repeat: no-repeat;
background-position: center;
opacity: var(--obj-opacity);
position: absolute;
top: 0px;
left: 0px;
cursor: pointer;
transition: opacity 0.3s ease-in;
}
.object:hover{
opacity: .7;
transition: background-image 0.2s ease-out;
}
.interaction {
position: absolute;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background-color: #000000cc;
font-weight: medium;
display: none;
flex-direction: column;
align-items: right;
justify-content: end;
z-index: 150;
transition: display 0.3s ease-in-out;
}
.interaction .options{
display: flex;
flex-direction: column;
justify-content: right;
align-items: end;
gap: 1rem;
margin: 1rem 2rem 1rem 2rem;
}
.interaction .options button{
width: 20vw;
font-size: larger;
cursor: pointer;
border: 0;
background-color: #dddddd66;
padding: 1rem 2rem;
}
.interaction .options button:hover{
background-color: #dededecc;
}
.interaction .text{
margin: 1rem 2rem 2rem 2rem;
background-color: #dddddd66;
padding: 1rem;
}
.interaction .text p{
margin-top: 0;
font-size: x-large;
}
.typewriter {
visibility: hidden; /* hide text initially */
}

.timer {
    text-align: end;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    margin: 2vh 2vh 0 0;
}

.timer-flash {
    animation: redFlash 0.5s infinite alternate;
}

@keyframes redFlash {
    from { background-color: rgba(255, 0, 0, 0.249); }
    to   { background-color: rgba(139, 0, 0, 0.249); }
}
