@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap');

:root {
    --obj-opacity: 0;
    /* Debug */
    --obj-opacity: 1;
}

HTML {
    background: #000;
}
body {
    margin: 0;
}
body, HTML {
  width: 100%;
  height: 100%;
}
.game-container {
    background-image: url(../assets/background.jpeg);
    transition: background-position .3s ease-in-out;
}
#UI {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
}
#transitionScreen{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: black;
    opacity: 1;
    transition: opacity 2s ease-out;
}
nav {
    width: 100%;
    height: calc(95% - 2vh); /* To override the 100% on main.css */
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li {
    display: inline;
    margin: 0;
    height: 100%;
}
nav ul li button {
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li button img {
    height: 200px;
    width: auto;
}
.object {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: var(--obj-opacity);
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    transition: background 0.3s ease-in;
}
.object::after{
    transition: background 0.3s ease-in;
}
.object:hover::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.4); /* white at 40% */
    transition: background 0.2s ease-out;
}
.interaction {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000cc;
    font-weight: medium;
    display: none;
    flex-direction: column;
    align-items: right;
    justify-content: end;
    z-index: 150;
    transition: display 0.3s ease-in-out;
}
.interaction .interaction-image{
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(-10deg);
    max-width: 70vh;
    height: 50vh;
    object-fit: contain;
    z-index: 1;
    pointer-events: none;
}
.interaction .options{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 16px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    transform: translateY(-105px);
}
.interaction .options button{
  cursor: pointer;
  padding: 16px;
  z-index: 50;
  min-width: 220px;
  border: 2px double #d7a103;
  font-size: 26px;
  font-family: 'Poiret One', sans-serif;
  color: #fff;
  background: linear-gradient(180deg, #a0601d 0%, #7a3f00 100%);
}
.interaction .options button:hover{
  background: linear-gradient(180deg, #b8742a 0%, #8e4d00 100%);
}
.interaction .text{
    position: absolute;
    min-height: 120px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: white;
    padding: 1rem 1.5rem;
    border: 2px solid black;
    border-radius: 12px;
    clip-path: polygon(0 0, calc(100% - 230px) 0, calc(100% - 230px) 60px, 100% 60px, 100% 100%, 0 100%);
}
.interaction .text p{
    margin-top: 0;
    font-size: 120%;
    font-family: "Montagu Slab", serif;
}
.typewriter {
    visibility: hidden; /* hide text initially */
}

.timer {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 120px;
    text-align: center;
    background-color: white;
    color: black;
    font-family: 'Poiret One', sans-serif;
    font-size: 150%;
    padding: 1% 2%;
    border-left: 4px solid #603604;
    border-bottom: 4px solid #603604;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 8px;
}

.timer-flash {
    animation: redFlash 0.5s infinite alternate;
}

@keyframes redFlash {
    from { background-color: rgba(255, 0, 0, 0.249); }
    to   { background-color: rgba(139, 0, 0, 0.249); }
}
